# GAMDIAS BOREAS P2-62D Display - allow access without root
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1b80", ATTRS{idProduct}=="b53a", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1b80", ATTRS{idProduct}=="b53a", MODE="0666"
